.content {
    margin-top: 75px;
    padding:25px 50px;
    background-color: #f1eded;
    min-height: 83vh;
}

.title
{
    background-color: #f93;
    font-size: 35px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    border-bottom: black solid 4px;
    padding: 15px;
    font-weight: bold;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.font{
    font-family: sans-serif;
}

.table-header
{
    background-color: #c8c8c8;
    border-color: black;
    border-style: solid;
    height: 30px;
    padding-top: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.header-title
{
    width: 33%;
    text-align: center;
    display: inline-block;
    font-weight: bold;

}
.table-data
{
    width: 33%;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
}

.table-row {
    padding: 10px;
    /* border: 1px black solid; */
    background-color: white;
}