.content {
    margin-top: 75px;
    padding:25px 50px;
    background-color: #f1eded;
    min-height: 83vh;
}

.title
{
    background-color: #f93;
    font-size: 35px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    border-bottom: black solid 4px;
    padding: 15px;
    font-weight: bold;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.font{
    font-family: sans-serif;
}

.table-header
{
    background-color: #c8c8c8;
    border-color: black;
    border-style: solid;
    height: 30px;
    padding-top: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.header-title
{
    width: 33%;
    text-align: center;
    display: inline-block;
    font-weight: bold;

}
.table-data
{
    width: 33%;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
}

.table-row {
    padding: 10px;
    /* border: 1px black solid; */
    background-color: white;
}

.mat-mdc-row, .mdc-data-table__content 
{
width: 33%;
}

.mat-mdc-row {
    height: var(--mat-table-row-item-container-height, 45px) !important;
    font-size: 12px !important;

}


.year-only-picker .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
    pointer-events: none;
  }
.date-filter .mat-mdc-form-field-icon-suffix {
    color: var(--mat-form-field-trailing-icon-color, var(--mat-sys-on-surface-variant));
    /* display: none; */
}
.mdc-text-field--filled:not(.mdc-text-field--disabled):has(.date-filter) {
        background-color: #f93 !important;
        border-radius: 4px;
        width: 135px;
        border: none;
        padding: 0 !important;
    }
.mat-mdc-form-field-flex:has(.date-filter){
        margin-bottom: -6px;
    }
    .x .mat-mdc-form-field-infix {
        padding: 0 !important ;
    }
.mat-mdc-form-field-infix :has(.date-filter) {
    padding: 0 !important;
    min-height:20px !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: var(--mdc-filled-text-field-container-color, #ffffff) !important;
}